{% extends 'base.html' %}

{% block title %}Cinema CinemaSauro{% endblock %}

{% block content %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-8">
                <div class="card-body">
          <h5 class="card-title">{{filme.titulo}}</h5>
          <p class="card-text">
            Duração: {{filme.duracao}}  <br>
            Lançamento: {{filme.data_lancamento}}  <br>
            Direção: {{filme.diretor}}  <br>
            Genero: {{filme.genero_filme}}
          </p>
          <a href="/secoes/{{filme.id}}" class="btn btn-primary">Comprar ingresso</a>
        </div>
        
      </div>
    </div>
  </div>
{% endblock %}