{% extends 'base.html' %}

{% block title %}Cinema CinemaSauro{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <div class="lunch-list">
        <h1>Cardápio</h1>
        {% for lanche in lanches %}
        <div class="card" style="width: 10rem; display: inline-block;">
            <p>{{lanche.id}} - {{lanche.nome}}</p>
            <span><a href="/lanche/{{lanche.id}}">Detalhes</a></span>
        </div>
        {% endfor %}
    </div>    
    <span><a href="\Pedido/">Cadastrar um pedido</a></span>
</div>
{% endblock %}